.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle.pull-right(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='/images/logo-mobile.png')
    .collapse.navbar-collapse.navbar-ex1-collapse(role='navigation')
      ul.nav.navbar-nav.navbar-right
        li(class='#{global.active.home}')
          a(href='/') 首页
        li(class='#{global.active.product}')
          a(href='/product') 产品 
        li(class='#{global.active.services}')
          a(href='/services') 服务
        li(class='#{global.active.team}')
          a(href='/team') 团队
        li(class='#{global.active.customers}')
          a(href='/customers') 客户
        li(class='#{global.active.contact}')
          a(href='/contact') 联系我们
        li.cooperation(class='#{global.active.cooperation}')
          a(href='/cooperation') 商务合作
